.Collapsible {
    color: white;
    text-align: center;
    background: rgba(23, 81, 111, 0.0);
    padding: 1rem;
    // border: 1px black solid;
    margin-top: 1rem;

    &__trigger:hover {
        cursor: pointer;
    }
  

    
}