// .credentials {
//     // background: rgb(255, 224, 46);
//     padding: 5rem;

//     & > div, & > input, & > button {
//         margin: 3rem 0;
//         font-size: 2.5rem;
//     }

//     & > input {
//         margin: 1rem 0;
//         padding: 1rem;
//         border: 1px white solid;
//         background: none;
//         color: white;
//     }
// }

.credentials {
    @include frc();
    margin: 0 auto;
    max-width: 35rem;
    width: 100%;


    &__form {
        width: 100%;
        // max-width: 30rem;
        margin: 1rem;

        & input {
            width: 100%;
            box-sizing: border-box;
            // background: blue;
            margin: 1rem 0;
            padding: 1rem;
            border: none;
        }

        & button {
            width: 100%;
        }
    }
}