.general {
 

    &__line {
        @include frs();
        max-width: 120rem;
        margin: 0 auto;
        
    }

    &__line-center {
        @include frc();
        max-width: 120rem;
        margin-left: 10rem;
    }

    &__heading {
        @include fc();
        max-width: 120rem;
        margin: 3rem auto;
    }


    &__card {
        background: rgb(43, 106, 139);
        padding: 2rem;
        text-align: center;
        margin: 2rem .5rem;
        max-width: 30rem;
       
        
        & a {
            display: block;
            width: 100%;
            height: 100%;
        }

        &:hover {
            background: rgb(29, 70, 92);
            cursor: pointer;
        }

        & img {
            height: 128px;
        }
    }




    //predelat icon a textforicon do mixin

    


    &__icon {

        
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;

        margin: 1rem 2rem;
        & img {
            max-width: 10rem;
            max-height: 10rem;
        }

    }

    &__textForIcon {
        flex-basis: 0;
        flex-grow: 4;
    }


}



.asterisk {
    font-size: 3rem;
}


@media (max-width: 760px) {
    .general__line-center {
        margin-left: 0;
    }
}


//==================== MIXINS ======================================


//checks what browser
@mixin browser($browsers: 'Mozilla') {
    @each $browser in $browsers {
      html[data-browser*="#{$browser}"] & {
        @content;
      }
    }
}
  
  
// background image for div
@mixin bgimg($bg: url('../images/landing/about1.jpg') ) {

    background: $bg;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


//set image properties from wrapped container

@mixin imgWrapper($mw) {
    max-width: $mw;
    
    & img {
        max-width: 100%
    }

}




@mixin iconImage($g: 1, $mw: 10rem, $mh: 10rem) {
    display: flex;
    justify-content: center;
    flex-grow: $g;
    flex-basis: 0;

    margin: 1rem 2rem;
    & img {
        max-width: $mw;
        max-height: $mh;
    }
}

@mixin textForIcon($g: 4) {
    flex-basis: 0;
    flex-grow: $g
}


  





